@mixin row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26272b;
  box-shadow: 0 0 12px #18191b;
  border-radius: 8px;
  margin: 2rem 1rem;
  padding: .7rem 1rem;
}

.container {
  max-width: 1140px;
  margin: auto;

  .heading {
    @include row;
    font-weight: 700;

    .coin-name {
      margin-left: -4rem;
    }
  }
}

.coin-row {
  @include row;

  &:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  .img-symbol {
    display: flex;
    align-items: center;

    img {
      height: 40px;
      margin-right: 8px;
      width: auto;
    }
  }
}

@media screen and (max-width: 720px){
  .hide-mobile {
    display: none;
  }
}

.container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  border-radius: 30%;
  border: 4rem solid rgba(99,71,108,0.5);
  transform: translate(-50%, -50%);
  animation: rotate-center 15s linear infinite forwards;
  z-index: -100;
}

@keyframes rotate-center {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}